p, h3 {
  color:black;
  font-family: "Courier New",  normal, sans-serif;
  font-size: 18px;
  line-height: 2;


}

p, h1, h2, h3, h4,img{
  padding: 1% 20%;
margin:0;
position: relative;
line-height: 2;

}

p {
}
p:not(:first-child){
  /*text-decoration: underline;*/
}
body {
  background-color: white;
  padding-top: 0;

}
h1 {
  color: white;
  font-family: "Courier New",  normal, sans-serif;
  font-size: 27px;
  line-height: 3;
  margin: 0px;

}

h2 {
  color: black;
  font-family: "Courier New",  bold, sans-serif;
  font-size: 18px;
  margin: 0px;


}

h3 {
  color: black;
  font-family: "Courier New",  bold, sans-serif;
  font-size: 20px;
  line-height: 2;
  margin: 0px;
}

.subtitle {
  color: black;
  font-family: "Courier New",  bold, sans-serif;
  font-size: 15px;
  margin: 0px;
  text-decoration: underline;
}
h4 {
  color: white;
  font-family: "Courier New", sans-serif;
  font-size: 20px;
  line-height: 0.5;
  margin: 0px;
}

.p1{
  color: white;
  font-family: "Courier New",  bol, sans-serif;
  font-size: 16px;
  line-height: 20pt;
}

.p2{
  color: white;
  font-family: "Courier New",  bol, sans-serif;
  font-size: 16px;
  line-height: 20pt;
  text-decoration: underline;

}

.title {
 height:200px;
}
.header {
  background-color: black;
  position: relative;

}
.header img {
  position: absolute;
  right: 30px;
  top: 20px;
}

.body-sec {
  background-color: white;
  position: relative;
  /*min-height:100vh*/

}

.body-sec img{
  display: block;

 width: auto;
 height: auto;
}

.body-sec3 a{
  color:white;
}

.body-sec2 a{
  color:black;
}

.body-sec a{
  color:black;
}


.body-sec2 {
  background-color: #FF33FF	;
  position: relative;
  /*min-height:100vh*/

}

.body-sec3 {
  background-color: black	;
  position: relative;
  /*min-height:100vh*/
}



.underline-on-hover:hover {
    text-decoration: underline;
    color:red;
    text-decoration-style: dotted;
    text-decoration-thickness: 3px;
    padding-bottom: 0px;
    padding-top: 0px;
    bottom: -100px;
    text-underline-position: under;
}
#content {
  display: none;
}
input[type="text"]{
    cursor: pointer;
    outline:none;
    color: darkgrey;
    font-family: "Open Sans",  normal, sans-serif;
    font-size: 25px;
    line-height: 50pt;
    focus:0 -2px 0 #2196F3;
    padding: 0;
    border: none;
    background: none;
      margin: 35px;
}
input[type="text"]:focus{
    outline: none;
}
input:focus + div#content {
  display: block;
  position: absolute;
  left: 310px;
  top: 500px;
  color: darkgrey;
  font-family: "Open Sans",  normal, sans-serif;
  font-size: 25px;
  line-height: 40pt;
  outline: none;
    margin: 35px;
}
.no-outline:focus {

}
.alignleft {
	float: left;
}

.alignleft p{
	color: white;
}

.alignright {
	float: right;
}
